.hero {
  &-section {
    height: calc(100vh - 120px);
  }
  &-main {
    font-size: 4rem;
    text-transform: capitalize;
  }
  &-sub {
    &-text {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }
  }
}
