.workSection {
  min-height: 48rem;
}

@media screen and (max-width: 1024px) {
  .workSection-image {
    min-height: 20rem;
  }
}

.service {
  &-list {
    position: relative;
    transition: margin 300ms ease-in-out;
    color: $text-dark-100;
    &:hover {
      color: $text-dark;
      margin-left: 1rem;
    }
  }
  &-info {
    font-size: 1rem;
    font-weight: 400;
  }
  &-image{
    height: 400px;
    width: 100%;
  }
}
