.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.price {
  &-container {
    width: 150px;
  }
}

.letter-spacing {
  &-1 {
    letter-spacing: 0.1rem;
  }
}

.nav-link-text {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.spaced-text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.hero-sub-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.btn-text-white {
  &:hover {
    color: $primary;
  }
}

.particles-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
  }
}

.z-index {
  &-10 {
    z-index: 9999 !important;
  }
}

.info-section {
  min-height: 32rem;
  display: flex;
  align-items: center;
}

.workSection {
  min-height: 48rem;
}

@media screen and (max-width: 1024px) {
  .workSection-image {
    min-height: 20rem;
  }
}

.overflow {
  &-y {
    &-hidden {
      overflow-y: hidden;
    }
  }
}

.service-list {
  display: inline-block;
  position: relative;
}

.service-list-alt {
  display: inline-block;
  position: relative;
}

.service-list:after {
  content: "";
  position: absolute;
  width: 80%;
  text-align: center;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: $primary;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.service-list:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link-items {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline-block;
  position: relative;
}

.nav-link-items:after {
  content: "";
  position: absolute;
  width: 100%;
  text-align: center;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link-items:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.long-arrow {
  height: 20px;
  width: 50px;
}

.product {
  &-card {
    height: 25rem;
  }
  &-image {
    height: 35rem;
    width: 100%;
  }
}

.portfolio-view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #19262ec9;
}

.btn-outline-white {
  @include button-outline-variant(white, $primary, white, white, white);
}

.btn-white {
  @include button-variant(
    white,
    //background
    white,
    //border
    $primary,
    //color
    $primary,
    //hoverbackground
    white,
    //hoverborder
    white,
    //hovercolor
    $primary,
    //activebackground
    $primary,
    //activeborder
    white//activecolor
  );
}

//overriding maps
$theme-colors: (
  "primary": $primary,
  "dark": $text-dark,
  "secondary": $secondary,
);

// custom map
$custom-colors: (
  "yellow": $secondary,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
